<!DOCTYPE html>
<html lang="en">

<!-- HEADLINKS INCLUDED HERE -->
<%- include ('pages/links/head_links') %>

<body>
    
    <!-- FOOTER INCLUDED HERE -->
    <%- include ('pages/navs/footer') %> 

    <!-- FOOTLINKS INCLUDED HERE -->
    <%- include ('pages/links/foot_links') %>

</body>

</html>