<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="assets/img/Official Vickies Logo 6.jpg" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Vickies Foundation is focused on the education and career development needs of Nigerian children,students and youths.We build libraries and donate books to deprived schools.">
    <meta name="theme-color" content="#9CD08E" />
    <link href="assets/base/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="assets/base/base.css" type="text/css" media="screen" />

    <!-- <link href="assets/base/base.scss" rel="stylesheet"> -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='stylesheet' id='contact-form-7-css' href='assets/base/styles.css' type='text/css' media='all' />
    <link rel='https://api.w.org/' href='https://dzanga-sangha.org/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://dzanga-sangha.org/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
        href="https://dzanga-sangha.org/wp-includes/wlwmanifest.xml" />

    <style>
        .hide {
            display: none;
        }
    </style>
</head>