<footer id="footer" class="footer ">
    <div class="footer__main layout">
        <div class="layout__container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-xl-6">
                    <div id="mc_embed_signup" class="newsletter">
                        <form
                            action="https://wwfcar.us20.list-manage.com/subscribe/post?u=3ce3fad69777ae8f60e020e76&amp;id=231f1a6e3f"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate>

                            <div class="newsletter__title pb-2 mb-2">Contact Us</div>

                            <span style="font-size:20px;color:#000;">Address</span>
                            <p style="font-size:19px;"> 6 Boorepo Street,<br>Aboru, Iyana-Ipaja, Lagos-State,<br>Nigeria
                            </p>
                            <span><i class="fa fa-address-book"></i></span>
                            <a class="social__title" href="mailto:info@vickiesfoundation.org">
                                info@vickiesfoundation.org</a>




                            <div class="newsletter__info">
                                <p>For scholarship help and guidance, Chat with us on Sundays on our Instagram from
                                    7pm-9pm (WAT). For other reason (s), please leave us an email or use our chat
                                    button.</p>
                            </div>

                            <div id="mce-responses" class="newsletter__response clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6 col-md-5 offset-md-1 col-xl-2 offset-xl-0">
                    <div class="meta-menu menu ">
                        <ul class="menu__list">
                            <li
                                class="menu__item  mt-3 menu-item menu-item-type-post_type menu-item-object-page menu-item-428">
                                <a class="menu__link" target="" href="about">About Us</a>
                            </li>
                            <li
                                class="menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-428">
                                <a class="menu__link" target="" href="what-we-do">What we do</a>
                            </li>

                            <!-- <li class="menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-296">
				<a class="menu__link" target="" href="founders-statement">Foundation</a>
                            </li> -->
                            <li
                                class="menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-428">
                                <a class="menu__link" target="" href="impact">Our Impact</a>
                            </li>

                            <li
                                class="menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-296">
                                <a class="menu__link" target="" href="support">Support Us</a>
                            </li>
                            <li
                                class="menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-296">
                                <a class="menu__link" target="" href="volunteer">Volunteer</a>
                            </li>
                            <!-- <li class="menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-295">
				<a class="menu__link" target="" href="contact-us">services</a>
							</li> -->

                        </ul>
                    </div>

                </div>
                <div class="col-6 col-md-5 col-xl-2">
                    <div class="social">
                        <h5 class="social__title">Spread The Word</h5>
                        <ul class="share ">
                            <li class="share__item">
                                <a href="https://facebook.com/VickiesFoundation" class="share__link" target="_blank">
                                    <i class="la   la-facebook" style="font-size:30px;"></i>

                                </a>
                            </li>
                            <li class="share__item">
                                <a href="https://twitter.com/VickiesFoundatn" class="share__link" target="_blank">
                                    <i class="la   la-twitter" style="font-size:30px;"></i>

                                </a>
                            </li>
                            <li class="share__item">
                                <a href="https://instagram.com/vickiesfoundation" class="share__link" target="_blank">
                                    <i class="la   la-instagram" style="font-size:30px;"></i>

                                </a>
                            </li>
                            <li class="share__item">
                                <a href="https://www.youtube.com/channel/UCiDETnfjoTJFXlE1HwgS5nA" class="share__link"
                                    target="_blank">
                                    <i class="la   la-youtube" style="font-size:30px;"></i>

                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout mt-0">
        <div class="layout__container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <hr class="footer__hr">
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mb-1 " style="font-size:16px;"> &copy;
        <script type="text/javascript">
            document.write(new Date().getFullYear());
        </script> Vickies Foundation</div>
</footer>   