<div class="modal mobile-menu fade" id="modal-menu" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="layout-fluid">
                    <ul class="main-menu">
                        <li
                            class="main-menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-55 menu-item-has-children">
                            <a class="main-menu__link" target="" href="#">
                                Home
                                <i class="icon chevron sub-toggler"></i>
                            </a>
                            <ul class="menu__list">
                                <li
                                    class="menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-314">
                                    <a class="menu__link" target="" href="about.php">About Us</a>
                                </li>
                                <li
                                    class="menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
                                    <a class="menu__link" target="" href="about.php#obj">Objectives</a>
                                </li>
                                <!-- <li class="menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
				<a class="menu__link" target="" href="about.php#mission">Our Impact</a>
                            </li> -->
                                <li
                                    class="menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
                                    <a class="menu__link" target="" href="index.php#vision">Vision</a>
                                </li>
                                <li
                                    class="menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
                                    <!-- <a class="menu__link" target="" href="#footer">Contact</a> -->
                                </li>

                            </ul>
                        </li>
                        <li
                            class="main-menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-54 menu-item-has-children">
                            <a class="main-menu__link" target="" href="#">
                                Foundation
                                <i class="icon chevron sub-toggler"></i>
                            </a>
                            <ul class="menu__list">
                                <!-- <li class="menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-442">
				<a class="menu__link" target="" href="what-we-do.php">What We Do</a> -->
                        </li>
                        <li class="menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-442">
                            <a class="menu__link" target="" href="founders-statement.php"> Founder's Statement</a>
                        </li>
                        <li class="menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-442">
                            <a class="menu__link" target="" href="about.php#team"> Meet the Team</a>
                        </li>

                    </ul>
                    </li>
                    <li class="main-menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-52">
                        <a class="main-menu__link" target="" href="what-we-do.php">
                            What We do
                        </a>
                    </li>


                    <li class="main-menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-52">
                        <a class="main-menu__link" target="" href="impact.php">
                            Our Impact
                        </a>
                    </li>
                    <li class="main-menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-53">
                        <a class="main-menu__link" target="" href="support.php">
                            Support Us
                        </a>
                    </li>
                    <li class="main-menu__item  menu-item menu-item-type-post_type menu-item-object-page menu-item-52">
                        <a class="main-menu__link" target="" href="volunteer.php">
                            Volunteer
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>