<section id="content" role="main" class="content-wrapper">
    <article class="post-type-page" id="post-47">
        <div class="page-header page-header--standard ">
            <button type="button" class=" mb-2 hash backbtn mt-3 btn btn-outline"
                style="color:#c54908;border-radius:10px;border: 1px solid#c54908;">Back to Team</button>
            <div class="row">
                <div class="page-header__image col-12 col-lg-6 rellax rellax--disable-md" data-rellax-speed="2">
                    <div class=" image-fit  image-fit--clipmask">
                        <img class="image-fit__image lozad" data-src="assets/img/team/Ayobami.jpg"
                            data-srcset="assets/img/team/Ayobami.jpg 320w,assets/img/team/Ayobami.jpg 768w,assets/img/team/Ayobami.jpg 1024w,assets/img/team/Ayobami.jpg 1600w"
                            alt="" style="object-position: 60% 20%" />
                    </div>
                </div>
                <div class="page-header__meta col-12 col-sm-10 offset-sm-1 
                            col-lg-5 offset-lg-0
            ">
                    <div class="page-header__kicker"><span>
                            National Open University of Nigeria, Ago-Iwoye (and its environs)</span></div>
                    <h2 class="page-header__title">Ayobami Dorcas Olatoye</h2>
                    <div class="page-header__intro">Ayobami is a level 300 student in NOUN, studying Business
                        Administration.</div>
                    <div class="blob blob--4"></div>
                </div>
            </div>
        </div>
        <div class="layout layout--margin_column bg-standard">

        </div>
        <div class="layout layout--1_column bg-leaf">

            <div class="layout__container">
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                        <div class="text-module">

                            <p>Ayobami is a level 300 student in NOUN, studying Business Administration. She joined
                                Vickies Foundation to contribute towards the upliftment of her community and the nation.
                                She became mindful of the small things that can impact the society and benefit its
                                people and hence, her effort has been bringing positive changes and made a difference in
                                people’s lives. She is willingly serving the community for absolutely no personal gain.
                            </p>



                        </div>
                    </div>
                </div>
            </div>


    </article>
</section>