<section id="content" role="main" class="content-wrapper">
    <article class="post-type-page" id="post-47">
        <div class="page-header page-header--standard ">
            <button type="button" class=" mb-2 hash backbtn mt-3 btn btn-outline"
                style="color:#c54908;border-radius:10px;border: 1px solid#c54908;">Back to Team</button>
            <div class="row">
                <div class="page-header__image col-12 col-lg-6 rellax rellax--disable-md" data-rellax-speed="2">
                    <div class=" image-fit  image-fit--clipmask">
                        <img class="image-fit__image lozad" data-src="assets/img/team/Anuoluwapo.jpg"
                            data-srcset="assets/img/team/Anuoluwapo.jpg 320w,assets/img/team/Anuoluwapo.jpg 768w,assets/img/team/Anuoluwapo.jpg 1024w,assets/img/team/Anuoluwapo.jpg 1600w"
                            alt="" style="object-position: 30% 20%" />
                    </div>
                </div>
                <div class="page-header__meta col-12 col-sm-10 offset-sm-1 
                            col-lg-5 offset-lg-0
            ">
                    <div class="page-header__kicker"><span>Disability Support Officer</span></div>
                    <h2 class="page-header__title">Anuoluwapo Esther Adesunloye</h2>
                    <div class="page-header__intro">Anuoluwapo is a graduate of Mathematics Education from Lagos State
                        University. </div>
                    <div class="blob blob--4"></div>
                </div>
            </div>
        </div>
        <div class="layout layout--margin_column bg-standard">

        </div>
        <div class="layout layout--1_column bg-leaf">

            <div class="layout__container">
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                        <div class="text-module">

                            <p>Anuoluwapo is a graduate of Mathematics Education from Lagos State University. Her
                                priority is helping people, because she believes we live in a world full of problems and
                                crisis and the only way one can help is to give back to the society any little way they
                                can. Anuoluwapo is a product of depression, growing up was not much fun for her so she
                                had to learn to fight on her own. She knows there are others who have similar issues
                                like she did and never had the opportunity to become who they really want to be, so she
                                wants to help people like her to discover their true purpose.</p>
                            <p>In her quest to understand people and communicate better with those with disabilities,
                                she saw an opportunity to learn sign language for the deaf, and she embraced it because
                                she believes everyone deserves the right to be who they want to and enjoy all the
                                happiness they deserve irrespective of their social status or health condition.</p>
                            <p>Going through Vickies Foundation’s content made Anuoluwapo realise that this is the
                                family she wants to join, and her major interest is the vocational skills and
                                scholarship program because it will impact both the abled and disabled.</p>
                            <p>She asserts that “Vickies foundation is the right channel to giving back to the community
                                and joining Vickies foundation is a dream come true”.</p>


                        </div>
                    </div>
                </div>
            </div>


    </article>
</section>