<section id="content" role="main" class="content-wrapper">
    <article class="post-type-page" id="post-47">
        <div class="page-header page-header--standard ">
            <button type="button" class="mb-2 hash backbtn mt-3 btn btn-outline"
                style="color:#c54908;border-radius:10px;border: 1px solid#c54908;">Back to Team</button>
            <div class="row">
                <div class="page-header__image col-12 col-lg-6 rellax rellax--disable-md" data-rellax-speed="2">
                    <div class=" image-fit  image-fit--clipmask">
                        <img class="image-fit__image lozad" data-src="assets/img/team/Isaac.jpeg"
                            data-srcset="assets/img/team/Isaac.jpeg 320w,assets/img/team/Isaac.jpeg 768w,assets/img/team/Isaac.jpeg 1024w,assets/img/team/Isaac.jpeg 1600w"
                            alt="" style="object-position: 60% 20%" />
                    </div>
                </div>
                <div class="page-header__meta col-12 col-sm-10 offset-sm-1 
                            col-lg-5 offset-lg-0
            ">
                    <div class="page-header__kicker"><span>Abuja Program Coordinator </span></div>
                    <h2 class="page-header__title">Isaac Oluwa Jimoh</h2>
                    <div class="page-header__intro">Isaac is a civil servant with a background in Business
                        Administration. </div>
                    <div class="blob blob--4"></div>
                </div>
            </div>
        </div>
        <div class="layout layout--margin_column bg-standard">

        </div>
        <div class="layout layout--1_column bg-leaf">

            <div class="layout__container">
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                        <div class="text-module">

                            <p>Isaac is a civil servant with a background in Business Administration. The reason why he
                                chose to volunteer with Vickies foundation is to reach out to the less privileged,
                                impact lives and the whole world at large. He is also interested in making an impact in
                                schools, orphanages and help as many people who wish to further their education in
                                nursery, primary and secondary level, up to the University. He believes Vickies
                                Foundation is the right platform for him to invest his time and contribute to the
                                nation. </p>




                        </div>
                    </div>
                </div>
            </div>


    </article>
</section>