<section id="content" role="main" class="content-wrapper">
    <article class="post-type-page" id="post-47">
        <div class="page-header page-header--standard ">
            <button type="button" class="hash mb-2 backbtn mt-3 btn btn-outline"
                style="color:#c54908;border-radius:10px;border: 1px solid#c54908;">Back to Team</button>
            <div class="row">
                <div class="page-header__image col-12 col-lg-6 rellax rellax--disable-md" data-rellax-speed="2">
                    <div class=" image-fit  image-fit--clipmask">
                        <img class="image-fit__image lozad" data-src="" data-srcset="assets/img/team/Victoria.jpg "
                            alt="" style="object-position: 60% 20%" />
                    </div>
                </div>
                <div class="page-header__meta col-12 col-sm-10 offset-sm-1 
                            col-lg-5 offset-lg-0
            ">
                    <div class="page-header__kicker"><span>Secretary</span></div>
                    <h2 class="page-header__title">Victoria Katherine Tully</h2>
                    <div class="page-header__intro">Victoria recently completed her master’s degree in Globalisation,
                        Business, and Development from IDS at the University of Sussex, United Kingdom.</div>
                    <div class="blob blob--4"></div>
                </div>
            </div>
        </div>
        <div class="layout layout--margin_column bg-standard">

        </div>
        <div class="layout layout--1_column bg-leaf">

            <div class="layout__container">
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                        <div class="text-module">

                            <p>Victoria recently completed her master’s degree in Globalisation, Business, and
                                Development from IDS at the University of Sussex, United Kingdom. She has extensive
                                experience working and living internationally and has focused her work on youth
                                development and gender equality through education. While serving in the Comoros Islands
                                as a Peace Corps Volunteer, she worked with local partners and community members to
                                establish programmes for youth, particularly girls, and sought ways to provide those
                                most vulnerable with education and training to achieve their goals. <br> She believes
                                whole heartedly that change is achieved by creating a network and support system for the
                                marginalised, youth, and disabled to assist them in obtaining their goals, which has led
                                her to be a part of Vickies Foundation.</p>


                        </div>
                    </div>
                </div>
            </div>


    </article>
</section>