<section id="content" role="main" class="content-wrapper">
    <article class="post-type-page" id="post-47">
        <div class="page-header page-header--standard ">
            <button type="button" class="hash mb-2 backbtn mt-3 btn btn-outline"
                style="color:#c54908;border-radius:10px;border: 1px solid#c54908;">Back to Team</button>
            <div class="row">
                <div class="page-header__image col-12 col-lg-6 rellax rellax--disable-md" data-rellax-speed="2">
                    <div class=" image-fit  image-fit--clipmask">
                        <img class="image-fit__image lozad" data-src="assets/img/team/Nurudeen.jpg"
                            data-srcset="assets/img/team/Nurudeen.jpg 320w,assets/img/team/Nurudeen.jpg 768w,assets/img/team/Nurudeen.jpg 1024w,assets/img/team/Nurudeen.jpg 1600w"
                            alt="" style="object-position: 60% 20%" />
                    </div>
                </div>
                <div class="page-header__meta col-12 col-sm-10 offset-sm-1 
                            col-lg-5 offset-lg-0
            ">
                    <div class="page-header__kicker"><span>Lagos Program Coordinator –</span></div>
                    <h2 class="page-header__title">Nurudeen Adebola Kamilu</h2>
                    <div class="page-header__intro">Nurudeen studied B.Sc. Physics at Federal University of Agriculture,
                        Abeokuta. </div>
                    <div class="blob blob--4"></div>
                </div>
            </div>
        </div>
        <div class="layout layout--margin_column bg-standard">

        </div>
        <div class="layout layout--1_column bg-leaf">

            <div class="layout__container">
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                        <div class="text-module">

                            <p>Nurudeen studied B.Sc. Physics at Federal University of Agriculture, Abeokuta . Being a
                                strong advocate for humanitarian services, he is a member of some NGOs such as Academic
                                Excellence Initiative (AEI). He has also been involved in various voluntary projects
                                especially in the education sector that reflects on SDG4 goal (Quality Education). His
                                professional interests focuses on electrical engineering and he has undergone projects
                                which include Data Centre Design Certification, Design and Construction of Electrical
                                Control Panels, Professional Solar System Analysis, Installation and many more. In
                                addition, he serves as Chief Technical Officer for Acertech Integrated Services Limited,
                                a firm which gives out services in areas of contracting, construction, maintenance and
                                procurement of engineering projects. </p>
                            <p>Ever since he was in Junior secondary school, he had a passion for helping others and has
                                always worked towards that through his life. To mention a few, immediately after he
                                completed his secondary education, he organized a math and English clinic for students
                                preparing for entrance examinations. Also, in the University, he organised tutorial
                                classes for students on major difficult courses and helped to decipher professor’s
                                assignments.</p>
                            <p> Now, while seeking for opportunities and ways to impact lives, he came across Vickies
                                Foundation and realised that the Foundation’s objectives are towards his field of
                                interest. Hence, his need to participate and collectively help achieve the Foundation’s
                                goals.</p>



                        </div>
                    </div>
                </div>
            </div>


    </article>
</section>