<section id="content" role="main" class="content-wrapper">
    <article class="post-type-page" id="post-47">
        <div class="page-header page-header--standard ">
            <button type="button" class="hash mb-2 backbtn mt-3 btn btn-outline"
                style="color:#c54908;border-radius:10px;border: 1px solid#c54908;">Back to Team</button>
            <div class="row">
                <div class="page-header__image col-12 col-lg-6 rellax rellax--disable-md" data-rellax-speed="2">
                    <div class=" image-fit  image-fit--clipmask">
                        <img class="image-fit__image lozad" data-src="assets/img/team/Amadi.jpg"
                            data-srcset="assets/img/team/Amadi.jpg 320w,assets/img/team/Amadi.jpg 768w,assets/img/team/Amadi.jpg 1024w,assets/img/team/Amadi.jpg 1600w"
                            alt="" style="object-position: 50% 30%" />
                    </div>
                </div>
                <div class="page-header__meta col-12 col-sm-10 offset-sm-1 
                            col-lg-5 offset-lg-0
            ">
                    <div class="page-header__kicker"><span>Kaduna Program Coordinator </span></div>
                    <h2 class="page-header__title">Amadi Solomon Chidiebere</h2>
                    <div class="page-header__intro">Amadi is an Architect who is passionate about the built environment
                        and the impact technology has on it.</div>
                    <div class="blob blob--4"></div>
                </div>
            </div>
        </div>
        <div class="layout layout--margin_column bg-standard">

        </div>
        <div class="layout layout--1_column bg-leaf">

            <div class="layout__container">
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                        <div class="text-module">

                            <p>Amadi is a Nigerian. He speaks English, Igbo and Hausa. Amadi is an Architect who is
                                passionate about the built environment and the impact technology has on it. He is a
                                student of Google Digital Skills for Africa and an alumnus of She hacks Africa (in
                                collaboration with WAAW foundation).
                                Amadi has volunteered with some organisations which he categorised into two;</p>
                            <p>Firstly, Religious organisations - The FCS (Fellowship of Christian Students) Minna
                                chapter during his undergraduate degree and held so many offices. He was also the
                                President of the NCCF (Nigerian Christian Corpers Fellowship) Abraka chapter during his
                                NYSC. He volunteered in these religious institutions because of his belief in the saving
                                and transforming power of Jesus Christ. He has participated in several outreaches within
                                these organizations.</p>
                            <p> Secondly, Non-religious organisations – He volunteered with the SDGs unit during his
                                NYSC and was a knowledge facilitator. He participated in this because he believes that
                                everyone has a disability and people with abilities are meant to bridge that gap by
                                helping to achieve a sustainable development and leave no one behind.</p>
                            <p>Primarily, he would love to volunteer with Vickies Foundation because its mission and
                                vision connects with some of his passion and vision.
                                And John Holmes summarized it with a quote - "There is no exercise better for the heart
                                than reaching down and lifting people up" and I believe in doing this we get ourselves
                                lifted up.</p>



                        </div>
                    </div>
                </div>
            </div>


    </article>
</section>