<section id="content" role="main" class="content-wrapper">
    <article class="post-type-page" id="post-47">
        <div class="page-header page-header--standard ">
            <button type="button" class="hash mb-2 backbtn mt-3 btn btn-outline"
                style="color:#c54908;border-radius:10px;border: 1px solid#c54908;">Back to Team</button>
            <div class="row">
                <div class="page-header__image col-12 col-lg-6 rellax rellax--disable-md" data-rellax-speed="2">
                    <div class=" image-fit  image-fit--clipmask">
                        <img class="image-fit__image lozad" data-src="assets/img/team/Tosin.jpg"
                            data-srcset="assets/img/team/Tosin.jpg 320w,assets/img/team/Tosin.jpg 768w,assets/img/team/Tosin.jpg 1024w,assets/img/team/Tosin.jpg 1600w"
                            alt="" style="object-position: 70% 30%" />
                    </div>
                </div>
                <div class="page-header__meta col-12 col-sm-10 offset-sm-1 
                            col-lg-5 offset-lg-0
            ">
                    <div class="page-header__kicker"><span>Treasurer</span></div>
                    <h2 class="page-header__title">Tosin Olatunji</h2>
                    <div class="page-header__intro">Tosin is an Auditor and a Musician.</div>
                    <div class="blob blob--4"></div>
                </div>
            </div>
        </div>
        <div class="layout layout--margin_column bg-standard">

        </div>
        <div class="layout layout--1_column bg-leaf">

            <div class="layout__container">
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                        <div class="text-module">

                            <p>Tosin is an Auditor and a Musician. She chose to be part of Vickies Foundation because
                                she has the knowledge that the world is full of a lot of needy people and has always had
                                it in her plans to do whatever is in her power to help the needy. She has a passion for
                                People, hence her decision to make impact through Vickies Foundation.</p>


                        </div>
                    </div>
                </div>
            </div>


    </article>
</section>