<section id="content" role="main" class="content-wrapper">
    <article class="post-type-page" id="post-47">
        <div class="page-header page-header--standard ">
            <button type="button" class="hash mb-2 backbtn mt-3 btn btn-outline"
                style="color:#c54908;border-radius:10px;border: 1px solid#c54908;">Back to Team</button>
            <h5 class="text-center">Our University Representatives </h5>
            <div class="layout layout--1_column " style="background:#F2F0E5;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <img src="assets/img/team/Samuel.jpg" class="p-3" alt="" height="200" width="200" />
                        </div>
                        <h6 class="text-center">Samuel Oluwatobi Tanimowo</h6>
                        <h6 class="text-center">Ladoke Akintola University of Technology (and its environs)</h6>
                        <div class="text-module p-3">
                            <p>Samuel is a level 200 student of Ladoke Akintola University of Technology, studying
                                computer science and technology. Samuel has decided to volunteer with Vickies Foundation
                                because he wants to contribute to our program for girls in sciences, help train students
                                in technology and mentor secondary school students around him. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <img src="assets/img/team/Ayobami.jpg" class="p-3" alt="" height="200" width="200" />
                        </div>
                        <h6 class="text-center">Ayobami Dorcas Olatoye</h6>
                        <h6 class="text-center">National Open University of Nigeria, Ago-Iwoye (and its environs)</h6>
                        <div class="text-module p-3">
                            <p>Ayobami is a level 300 student in NOUN, studying Business Administration. She joined
                                Vickies Foundation to contribute towards the upliftment of her community and the nation.
                                She became mindful of the small things that can impact the society and benefit its
                                people and hence, her effort has been bringing positive changes and made a difference in
                                people’s lives. She is willingly serving the community for absolutely no personal gain.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


    </article>
</section>

<div class="mt-5">

</div>