<section id="content" role="main" class="content-wrapper">
    <article class="post-type-page" id="post-47">
        <div class="page-header page-header--standard ">
            <button type="button" class="hash mb-2 backbtn mt-3 btn btn-outline"
                style="color:#c54908;border-radius:10px;border: 1px solid#c54908;">Back to Team</button>
            <div class="row">
                <div class="page-header__image col-12 col-lg-6 rellax rellax--disable-md" data-rellax-speed="2">
                    <div class=" image-fit  image-fit--clipmask">
                        <img class="image-fit__image lozad" data-src="assets/img/vic2.jpg" alt=""
                            style="object-position: 30% 20%" />
                    </div>
                </div>
                <div class="page-header__meta col-12 col-sm-10 offset-sm-1 
                            col-lg-5 offset-lg-0
            ">
                    <div class="page-header__kicker"><span style="font:font-weight:900;">President and Founder </span>
                    </div>
                    <h2 class="page-header__title">Victoria Tanimowo</h2>
                    <div class="page-header__intro">Victoria Tanimowo is the founder of Vickies Foundation.</div>
                    <div class="blob blob--4"></div>
                </div>
            </div>
        </div>
        <div class="layout layout--margin_column bg-standard">

        </div>
        <div class="layout layout--1_column bg-leaf">

            <div class="layout__container">
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                        <div class="text-module">

                            <p>The biography of Victoria and her reason for setting up Vickies foundation can be found
                                under “Our founder”, please <span><a href="founders-statement.php">click
                                        here.</a></span></p>


                        </div>
                    </div>
                </div>
            </div>


    </article>
</section>