<form method="POST" class="vf_form" id="vf_form" action="vf_form.php">
    <div class="row  container form_css">
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="fname">First Name <span style="color:red;">*</span></label>
                <input type="text" required class="form-control" name="nameFirst" id="nameFirst"
                    aria-describedby="helpId" placeholder="">
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="">Last Name <span style="color:red;">*</span></label>
                <input type="text" required class="form-control" name="nameLast" id="nameLast" aria-describedby="helpId"
                    placeholder="">

            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mt-2">
                <label for="">Email <span style="color:red;">*</span></label>
                <input type="email" required class="form-control" name="email" id="email" aria-describedby="helpId"
                    placeholder="">

            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="fname">Phone <span style="color:red;">*</span></label>
                <input type="text" required class="form-control" name="phone" id="phone" aria-describedby="helpId"
                    placeholder="">
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="">Whatsapp number</label>
                <input type="text" class="form-control" name="whatsapp" id="whatsapp" aria-describedby="helpId"
                    placeholder="">

            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="">Address Line 1 <span style="color:red;">*</span></label>
                <input type="text" class="form-control" name="addressl1" id="addressl1" aria-describedby="helpId"
                    placeholder="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">State <span style="color:red;">*</span></label>
                <input type="text" class="form-control" name="state" id="state" aria-describedby="helpId"
                    placeholder="">
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="">Country <span style="color:red;">*</span></label>
                <input type="text" class="form-control" name="country" id="country" aria-describedby="helpId"
                    placeholder="">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="">Gender <span style="color:red;">*</span> </label>
                <select class="form-control" required name="gender" id="">
                    <option selected>Select</option>
                    <option name="gender" value="Male">Male</option>
                    <option name="gender" value="Female">Female</option>
                </select>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Age <span style="color:red;">*</span></label>
                <select class="form-control" required name="age" id="">
                    <option name="age" selected>Select</option>
                    <option name="age" value="18-25">18-25</option>
                    <option name="age" vlaue="26-30">26-30</option>
                    <option name="age" value="31-40"> 31-40</option>
                    <option name="age" value="40 and above">40 and above</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <label for=""> Which team would you like to join?</label>
            <div class="form-check mb-2 ">
                <label class="form-check-label d-block">
                    <input class="form-check-input" type="radio" name="team" id="" value="Events Organisers"> Event
                    Organisers
                </label>
                <label class="form-check-label d-block">
                    <input class="form-check-input" type="radio" name="team" id="" value="Fundraising and Sponsorship">
                    Fundraising and Sponsorship
                </label>
                <label class="form-check-label d-block">
                    <input class="form-check-input" type="radio" name="team" id=""
                        value="Social Media (Including Photography and Graphic Design)"> Social Media (Including
                    Photography and Graphic Design)
                </label>
                <label class="form-check-label d-block">
                    <input class="form-check-input" type="radio" name="team" id="" value="None - Volunteer Only"> None -
                    Volunteer Only
                </label>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="form-group ">
                <label for="fname">Please provide one of your active social media accounts (Facebook, Twitter,
                    Instagram, LinkedIn) and indicate which <span style="color:red;">*</span></label>
                <input type="text" class="form-control" required name="social_media" id="social_media"
                    aria-describedby="helpId" placeholder="">
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mt-2">
                <label for="fname">Occupation <span style="color:red;">*</span></label>
                <div class="form-check mb-2 ">
                    <label class="form-check-label d-block">
                        <input class="form-check-input" type="radio" name="occupation" id="" value="student">Student
                    </label>
                    <label class="form-check-label d-block">
                        <input class="form-check-input" type="radio" name="occupation" id="" value="working"> Working
                    </label>


                </div>

            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="">Institution || Occupation<span style="color:red;"> *</span></label>
                <input type="text" class="form-control" required name="job_title" id="job_title"
                    aria-describedby="helpId" placeholder="">

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="">Course || Job Description<span style="color:red;"> *</span></label>
                <input type="text" class="form-control" required name="job_desc" id="job_desc" aria-describedby="helpId"
                    placeholder="">

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group ">
                <label for="fname">Reason(s) for Volunteering with Vickies Foundation <span
                        style="color:red;">*</span></label>
                <textarea class="form-control" required name="reason" id="reason" rows="3"></textarea>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">How can you support the Foundation in achieving its plan?</label>
                <textarea class="form-control" name="support" id="support" rows="3"></textarea>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="">Any question(s) or suggestion(s)?</label>
                <textarea class="form-control" name="question" id="question" rows="3"></textarea>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for='uploadfile'>Upload Image:</label>
            <input type="file" name="uploadfile" id="uploadfile">
        </div>
        <div class="col-md-12 text-center">
            <div class="mt-3 mb-3">
                <button type="submit" class="btn-sm bg-white text-dark" name="vf_submit_btn" id="vf_submit_btn">Submit
                </button>
            </div>
        </div>


    </div>
</form>