<form method="POST" class="vic_volunteer_form_submit"  action="#" enctype="multipart/form-data">
    <div class="row  container form_css">
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="fname">First Name <span style="color:red;">*</span></label>
                <input type="text"  class="form-control nameFirst"  id="nameFirst"
                    aria-describedby="helpId" placeholder="">
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="">Last Name <span style="color:red;">*</span></label>
                <input type="text"  class="form-control nameLast"  id="nameLast" aria-describedby="helpId"
                    placeholder="">

            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mt-2">
                <label for="">Email <span style="color:red;">*</span></label>
                <input type="email"  class="form-control email"  id="email" aria-describedby="helpId"
                    placeholder="">

            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="fname">Phone <span style="color:red;">*</span></label>
                <input type="text"  class="form-control phone"  id="phone" aria-describedby="helpId"
                    placeholder="">
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="">Whatsapp number</label>
                <input type="text" class="form-control whatsapp"  id="whatsapp" aria-describedby="helpId"
                    placeholder="">

            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="">Address Line 1 <span style="color:red;">*</span></label>
                <input type="text" class="form-control addressl1"  id="addressl1" aria-describedby="helpId"
                    placeholder="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">State <span style="color:red;">*</span></label>
                <input type="text" class="form-control state"  id="state" aria-describedby="helpId"
                    placeholder="">
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="">Country <span style="color:red;">*</span></label>
                <input type="text" class="form-control country"  id="country" aria-describedby="helpId"
                    placeholder="">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="">Gender <span style="color:red;">*</span> </label>
                <select class="form-control gender"   >
                    <option selected>Select</option>
                    <option name="gender" value="Male">Male</option>
                    <option name="gender" value="Female">Female</option>
                </select>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Age <span style="color:red;">*</span></label>
                <select class="form-control age"   >
                    <option name="age" selected>Select</option>
                    <option name="age" value="18-25">18-25</option>
                    <option name="age" vlaue="26-30">26-30</option>
                    <option name="age" value="31-40"> 31-40</option>
                    <option name="age" value="40 and above">40 and above</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <label for=""> Which team would you like to join?</label>
            <div class="form-check mb-2 ">
                <label class="form-check-label d-block">
                    <input class="form-check-input team" type="checkbox" name="team"  value="Events Organisers"> Event
                    Organisers
                </label>
                <label class="form-check-label d-block">
                    <input class="form-check-input team" type="checkbox" name="team"  value="Fundraising and Sponsorship">
                    Fundraising and Sponsorship
                </label>
                <label class="form-check-label d-block">
                    <input class="form-check-input team" type="checkbox" name="team" 
                        value="Social Media (Including Photography and Graphic Design)"> Social Media (Including
                    Photography and Graphic Design)
                </label>
                <label class="form-check-label d-block">
                    <input class="form-check-input team" type="checkbox" name="team"  value="None - Volunteer Only"> None -
                    Volunteer Only 
                </label>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="form-group ">
                <label for="fname">Please provide one of your active social media accounts (Facebook, Twitter,
                    Instagram, LinkedIn) and indicate which <span style="color:red;">*</span></label>
                <input type="text" class="form-control social_media"   id="social_media"
                    aria-describedby="helpId" placeholder="">
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group mt-2">
                <label for="fname">Occupation <span style="color:red;">*</span></label>
                <div class="form-check mb-2 ">
                    <label class="form-check-label d-block">
                        <input class="form-check-input occupation" type="radio" name="occupation"  value="student">Student
                    </label>
                    <label class="form-check-label d-block">
                        <input class="form-check-input occupation" type="radio" name="occupation"  value="working"> Working
                    </label>


                </div>

            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="">Institution || Occupation<span style="color:red;"> *</span></label>
                <input type="text" class="form-control job_title"   id="job_title"
                    aria-describedby="helpId" placeholder="">

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="">Course || Job Description<span style="color:red;"> *</span></label>
                <input type="text" class="form-control job_desc"   id="job_desc" aria-describedby="helpId"
                    placeholder="">

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group ">
                <label for="fname">Reason(s) for Volunteering with Vickies Foundation <span
                        style="color:red;">*</span></label>
                <textarea class="form-control reason"  name="reason"  rows="3"></textarea>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">How can you support the Foundation in achieving its plan?</label>
                <textarea class="form-control support" name="support"  rows="3"></textarea>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="">Any question(s) or suggestion(s)?</label>
                <textarea class="form-control question" name="question"  rows="3"></textarea>
            </div>
        </div>

        <div class="col-md-6 mt-4 ">
            <div class="gcc_event_upload_image border mb-3" style="width:140px;height:140px;">
                <img class="vic_image_upload" id="vic_image_upload" src="" alt="" style="width: 100%;height: 100%;object-fit: cover;">
            </div>
            <div>
                <label >Upload Image</label>
                <input type="file"  accept="image/*" name="image" class="vic_upload_image_source" id="file" >
            </div>
        </div>

        <div class="col-md-12 text-center">
            <div class="mt-3 mb-3">
                <button type="submit" class="btn-lg  btn-light btn vic_volunteer_form_submit_btn" >Submit Form
                </button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="vic-alert"></div>
        </div>


    </div>
</form>